* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-image: url('images/portfolio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/* NavBar */
header {
  display: flex;
  justify-content: space-between;
  /* background-color: black; */

}

header .logo {
  color: #000;
}

ul {

  display: flex;
  justify-content: space-evenly;
}

ul li {
  list-style-type: none;
  padding: 10px;
  background-color: orange;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;

}

ul li a:hover {
  color: darkblue;
}

/* container */

.container {
  display: flex;
  justify-content: start;

}

.info {
  /* background-color: black; */
  border-radius: 10px;
  opacity: 0.9;
  color: black;
  margin-top: 10%;
  margin-left: 5%;
  padding: 2%;
  height: 50vh;
  width: 30%;
}

.info h1 {
  margin-top: 5%;
  text-align: center;
}

.info h2 {
  text-align: center;
}

.info h3 {
  text-align: center;
}

.info button {
  padding-top: 3px;
  margin-left: 32%;
  margin-top: 10px;
  background-color: rgb(13, 135, 13);
  color: white;
  height: 40px;
  width: 30%;
  opacity: 1;
}

/* CSS Responsive */
@media (max-width:1300px) {
  body {
    background-position: 2% 20%;
  }

  .info {
    /* background-color: black; */

    color: darkblue;


  }
}

@media (max-width:850px) {
  ul li {
    list-style-type: none;
    padding: 5px;
  }

  .info {
    /* background-color: black; */

    /* color: black; */
    margin-top: 40%;
    margin-left: 2%;
    padding: 2%;
    height: 50vh;
    width: 30%;
  }

  .info {
    /* background-color: black; */

    color: darkblue;


  }
}

@media (max-width:500px) {
  /* .info {
    background-color: black;
  border-radius: 10px;
  opacity: 0.9;
  color: orange;
  margin-top: 60%;
  margin-left: 1%;
  /* padding: 1%; */
  /* height: 50vh;
    width: 30%; */
  font-size: 10%;

  /* } */

  */ .info {
    /* background-color: black; */

    color: darkblue;


  }

  .info h1 {
    margin-top: 1%;

  }

  .info button {
    padding-top: 3px;
    margin-left: 12%;
    margin-top: 10px;
    background-color: rgb(13, 135, 13);
    color: white;
    height: 40px;
    width: 70%;
    opacity: 1;
  }
}

@media (max-width:450px) {
  header .logo {
    font-size: 15px;
  }

  ul {
    /* 
    display: flex;
    flex-direction: column; */
  }

  ul li {
    list-style-type: none;
    padding: 2px;
  }

  .info {
    /* background-color: black; */
    border-radius: 10px;
    opacity: 0.9;
    color: black;
    margin-top: 60%;
    margin-left: 1%;
    /* padding: 1%; */
    /* height: 50vh;
    width: 30%; */
    font-size: 40%;

  }

  /* ul li a:hover {
    background-color: white;
    color: black;
  } */
}

@media (max-width:420px) {
  .info {
    font-size: 70%;
    color: darkblue;

  }


}